.advantages {
    &__subtitle {
        font-size: 20px;
    }
    &__title {
        max-width: 480%;
        margin-top: 20px;
    }
    &__titles {
        display: flex;
        justify-content: flex-end;
    }
    &__block {
        width: calc(66.6% - 7px);
    }
    &__offer {
        margin-top: 30px;
        
    }
    &__slider-offer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 24px 20px;
    }
    &__item {
        position: relative;
        display: flex;
        width: calc(33% - 10px);
        flex-direction: column;
        align-items: space-between;
        gap: 15px;
        padding: 38px 30px;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        background: #F9F9F9;    
        &-empty {
            padding: 0;
            background: none;
            border: none;
        }
        &-medium {
            width: calc(66.6% - 7px);
        }
        &-title {
            font-size: 20px;
            line-height: 130%; /* 26px */
            max-width: 290px;
            span {
                color: #990201;
            }
        }
        &-descr {
            font-size: 16px;
            text-align: left;
            line-height: 138%
        }
        &-number {
            position: absolute;
            top: 0;
            right: 20px;
            font-size: 64px;
            color: #F1F1F1;
            font-weight: 800;
            font-variant-numeric: lining-nums proportional-nums;
        }
    }
    &__descr {
        font-size: 16px;
        text-align: left;
        line-height: 138%
    }
}

@media (max-width: 1024px) {
    .advantages {
        &__slider-offer {
            flex-wrap:nowrap;
            align-items: flex-start; 
            
        }
        &__item {
            &-empty {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .advantages {
        &__block {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .advantages {
        &__title {
            margin-top: 10px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__item {
            padding: 30px 10px 46px 10px;
            
            &-title {
                font-size: 18px;
            }
        }
        &__descr {
            max-width: 80%;
        }
    }
}