.employees {
    margin-top: 44px;
    padding: 180px 0 40px 0;
    background-image: url('../../img/employees_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 44px;
    &__card {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 54px 30px;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        background: rgba(249, 249, 249, 0.20);
        backdrop-filter: blur(15px);
    }
    &__title {
        max-width: 810px;
        font-size: 28px;
        font-family: "Days One", sans-serif;
        line-height: 157%; /* 43.96px */
        letter-spacing: 0.28px;
        text-transform: uppercase;
        color: #fff;
    }
}


@media (max-width: 576px) {
    .employees {
        margin-bottom: 30px;
        padding: 130px 0 30px 0;
        &__card {
            padding: 30px 20px;
            width: 100%;
            gap: 20px;
        }
        &__title {
            font-size: 16px;
            letter-spacing: 0.16px;
        }
        &__buttons {
            gap: 10px;
        }
        .button {
            width: 100%;
        }
    }
}