.footer {
    padding: 86px 0 64px 0;
    background: #2E2E2E;
    &__offer {
        display: flex;
        justify-content: space-between;
        
    }
    &__col {
        display: flex;
        &-1 {
            gap: 130px;
        }
        &-2 {
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
        }
    }
    &__menus {
        display: flex;
        gap: 60px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__policy {
        font-size: 12px;
        color: #fff;
        font-weight: 600;
        text-decoration: underline;
    }
    &__descr {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
    }
    &__logo {
        width: 227px;
        height: 49px;
        object-fit: contain;
        
    }
    &__nav {
        
        &-list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: 25px;
        }
        &-link {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 130%;
            transition: .3s all;
            &:hover {
                color:#990201;
            }
        }
        &-item {
            position: relative;
            cursor: pointer;
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
    }
    &__social {
        display: flex;
        gap: 15px;
        &-offer {
            display: flex;
            gap: 15px;
        }
    }
    &__search-offer {
        width: 200px;
    }
    &__tel {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
    }
    .mob {
        display: none;
    }
}


@media (max-width: 992px) {
    .footer {
        &__col {
            &-1 {
                gap: 50px;
            }
        }        
    } 
}

@media (max-width: 768px) {
    .footer {
        &__col {
            &-1 {
                gap: 20px;
            }
        }  
        &__social {
            flex-direction: column;
            align-items: flex-end;
        }
        &__nav {
            &-item {
                position: relative !important;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        &__mobile {
            &-logo-descr {
                display: block;
                font-size: 10px;
                font-weight: 700;
                text-align: center;
                color: #fff;
                max-width: 120px;
                margin: 0 auto;
            }
        }
        &__info {
            gap: 0;
        }
        &__offer {
            flex-direction: column;
            gap: 40px;
        }
        &__col {
            flex-direction: column;
            width: 100%;
            &-1 {
                gap: 30px;
            }
            &-2 {
                align-items: center;
                gap: 30px;
            }
        }
        &__social {
            align-items: center;
            gap: 30px;
            &-offer {
                justify-content: center;
                
            }            
        }
        &__text {
            font-size: 14px;
            font-weight: 600;
        }
        &__logo {
            margin: 0 auto;
        }
        &__nav {
            margin-top: 0;
            &-list {

            }
            &-item {
                position: relative;
            }
            &-link {
                display: block;
                text-align: center;
               /*  width: 100%; */
            }
        }
        &__descr {
            text-align: center;
            line-height: 20px;
        }
        .dropdown-parent {
            margin: 0 auto;
        }
        .mob {
            display: flex;  
        }
        .desk {
            display: none;
        }
        .dropdown {
            position: static;
            &-parent {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap:  20px;
            }
        }
    }
}