.form {
    position: relative;
    z-index: 1;
    &-offer {
        padding: 45px 0;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        background: #F9F9F9;
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &-time {
        color: #990201;
        font-size: 24px;
        font-weight: 600;
    }
    &-step {
        color: #990201;
        font-size: 20px;
    }
    &-point {
        font-size: 24px;
        font-family: "Days One", sans-serif;
    }
    &-section {
        display: flex;
        padding: 0 40px;
    }
    &-divider {
        width: 100%;
        height: 1px;
        background: #C0C0C0;    
    }
    &-btn-calc {
        margin-top: 30px;
    }
    &-inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }
}

.input {
    padding: 12px 0;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #890201;
    background: #FFF;
    color: #2E2E2E;
    font-size: 16px;
    text-align: center;
    &-small {
        width: 200px;
    }
    &-medium {
        width: 300px;
    }
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
    &-offer {
        position: relative;
        width: 125px;
        height: 40px;
    }
    &-icon {
        position: absolute;
        top: 8px;
        left: 10px;
        cursor: pointer;
    }
    &-input {
        padding-left: 40px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: 2px solid #990201;
        background: #FCFCFC;
        &::placeholder {
            color: #990201;
        }
    }
}

.checkbox-container.modal {
    margin: 10px 0;
    color: #959595;
    .custom-checkbox {
        border-radius: 3px;
        border: 1px solid #C0C0C0;
    }
    a {
        text-decoration: underline;
        color: #959595;
    }
}

.checkbox-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.custom-checkbox {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #890201;
    display: inline-block;
    position: relative;
    margin-right: 8px;
    cursor: pointer;
}

.custom-checkbox:checked::before {
    content: '✔';
    color: #8B0000; /* Dark red checkmark color */
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
    .form {
        &-point {
            font-size: 20px;
        }
        &-btn-calc {
            margin-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .form {
        &-point {
            font-size: 16px;
        }
        &-step {
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .form {
        &-section {
            padding: 0 10px;
            flex-direction: column;
            gap: 20px;
        }
        &-offer {
            padding: 30px 0 76px 0;
        }
        &-time {
            font-size: 18px;
        }
        &-descr {
            margin-top: 10px;
            font-size: 16px;
        }
        &-point {
            font-size: 18px;
        }
        h2 {
            font-size: 24px !important;
        }
    }
}