.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #C0C0C0;
    &__offer {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        align-items: center;
        padding-right: 20px;
        border-right: 1px solid #C0C0C0;
        &-img {
            width: 78px;
            height: auto;
            object-fit: contain;
        }
        &-descr {
            max-width: 150px;
            font-size: 12px;
            font-weight: 700;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        padding-right: 30px;
        border-right: 1px solid #C0C0C0;
        &-list {
            display: flex;
            gap: 20px;
            align-items: center;
            list-style-type: none;
        }
        &-link {
            font-size: 16px;
            font-weight: 700;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        gap: 13px;
        padding-right: 20px;
        border-right: 1px solid #C0C0C0;
    }
    &__tel {
        font-size: 20px;
        font-weight: 700;
        color: #990201;
    }
}

.header.service {
    background: #fff;
    backdrop-filter: none;
}