.help {
    &__title {
        display: block;
        max-width: 480px;
        &-offer {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__block {
        width: calc(66.6% - 7px);
        
    }
    &__offer {
        margin-top: 40px;
        display: flex;
        gap: 20px;
    }
    &__image {
        padding: 10px;
        display: flex;
        align-items: flex-end;
        width: calc(33% - 10px);
        background-image: url('../../img/image_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        height: 400px;
        &-offer {
            padding: 20px;
            width: 75%;
            height: 140px;
            border-radius: 20px;
            border: 1px solid #E5E5E5;
            background: rgba(249, 249, 249, 0.20);
            backdrop-filter: blur(15px);
        }
    }
    &__gps {
        padding: 10px;
        display: flex;
        align-items: flex-end;
        width: calc(66% - 10px);
        height: 400px;
        background-image: url('../../img/gps_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        &-offer {
            padding: 20px;
            width: 40%;
            height: 140px;
            border-radius: 20px;
            border: 1px solid #E5E5E5;
            background: rgba(249, 249, 249, 0.20);
            backdrop-filter: blur(15px);
        }
    }
    &__subtitle {
        font-size: 20px;
    }
    &__descr {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}

@media (max-width: 992px) {
    .help {
        &__block {
            width: 100%;
        }
        &__offer {
            margin-top: 20px;
        }
        &__image {
            &-offer {
                padding: 10px;
            }
        }
        &__subtitle {
            font-size: 18px;
        }
        &__gps {
            &-offer {
                padding: 10px;
            }
        }
    }
}

@media (max-width: 768px) {
    .help {
        &__offer {
            flex-direction: column;
        }
        &__image {
            height: 250px;
            width: 100%;
            &-offer {
                width: 40%;
                height: auto;
                min-height: 100px;
            }
        }
        &__gps {
            height: 250px;
            width: 100%;
            &-offer {
                height: auto;
            }
        }
    }
}

@media (max-width: 576px) {
    .help {
        &__image {
            &-offer {
                width: 60%;
            }
        }
        &__gps {
            &-offer {
                width: 60%;
            }
        }
    }
}