.help {
    &__title {
        display: block;
        max-width: 480px;
        margin: 0 auto;
    }
    &__offer {
        margin-top: 40px;
        display: flex;
        gap: 20px;
    }
    &__image {
        padding: 10px;
        display: flex;
        align-items: flex-end;
        width: calc(33% - 10px);
        height: 240px;
        background-image: url('../../img/image_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        &-offer {
            padding: 20px;
            width: 75%;
            height: 120px;
            border-radius: 20px;
            border: 1px solid #E5E5E5;
            background: rgba(249, 249, 249, 0.20);
            backdrop-filter: blur(15px);
        }
    }
    &__gps {
        padding: 10px;
        display: flex;
        align-items: flex-end;
        width: calc(66% - 10px);
        height: 240px;
        background-image: url('../../img/gps_bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        &-offer {
            padding: 20px;
            width: 40%;
            height: 120px;
            border-radius: 20px;
            border: 1px solid #E5E5E5;
            background: rgba(249, 249, 249, 0.20);
            backdrop-filter: blur(15px);
        }
    }
    &__subtitle {
        font-size: 20px;
    }
    &__descr {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}