.price {
    &__title {
        display: block;
        max-width: 100%;
        width: 100%;
        text-align: left;
        max-width: 480px;
        &-offer {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__block {
        width: calc(66.6% - 7px);
    }
    &__descr {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
        max-width: 480px;
        opacity: .6;
    }
    &__offer {
        margin-top: 40px;
        display: flex;
        gap: 24px;
    }
    &__item {
        padding: 20px;
        display: flex;
        width: calc(45% - 10px);
        flex-direction: column;
        border-radius: 20px;
        border: 1px solid #E5E5E5;
        background: linear-gradient(0deg, #F9F9F9 0%, #F9F9F9 100%), #EBEBEB;
        overflow: hidden;
        &-title {
            font-size: 32px;
            color: #990201;
            font-family: "Days One", sans-serif;
            font-size: 24px;
        }
        &-price {
            font-size: 32px;
            color:#990201;
        }
        &-divider {
            margin-top: 30px;
            margin-left: -20px;
            width: 150%;
            height: 1px;
            background: #E5E5E5;
        }
        &-about {
            display: flex;
            flex-direction: column;
            gap: 6px;
            margin-top: 40px;
        }
        &-name {
            font-size: 20px;
            font-weight: 600;
            color: #990201;
        }
        &-descr {
            font-size: 16px;
        }
        &-offer {
            padding-top: 20px;
        }
    }
}

@media (max-width: 992px) {
    .price {
        &__block {
            width: 100%;
        }
        &__title {
            max-width: 200px;
        }
        &__item {
            width: 100%;
            &-price {
                margin-top: 15px;
                font-size: 18px;
            }
            &-offer {
                flex-direction: column;
            }
        }
    }
}