.services {
    &__title {
        max-width: 980px;
    }
    &__slider {
        margin-top: 55px;
        display: flex;
        gap: 20px;
    }
}

@media (max-width:  576px) {
    .services {
        h2 {
            font-size: 18px;
        }
        &__slider {
            margin-top: 20px;
        }
    }
}