h1 {
    color: #2E2E2E;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 52px */
    text-transform: uppercase;
    font-family: "Days One", sans-serif;
    max-width: 880px;
    span {
        color: #990201;
    }
}

h2 {
    color: #2E2E2E;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 46.8px */
    font-family: "Days One", sans-serif;
    max-width: 880px;
    text-transform: uppercase;
    span {
        color: #990201;
    }
}

h3 {
    color: #2E2E2E;
    font-size: 20px;
    font-family: "Days One", sans-serif;
    max-width: 880px;
    text-transform: uppercase;
    .medium {
        font-size: 16px;
    }
    .small {
        font-size: 14px;
    }
    span {
        color: #990201;
    }
}

h4 {
    color: #2E2E2E;
    font-family: "Days One", sans-serif;
    span {
        color: #990201;
    }
}

h5 {
    color: #2E2E2E;
    font-family: "Days One", sans-serif;
    span {
        color: #990201;
    }
}

.white {
    color: #fff;
}

.fs-28 {
    font-size: 28px;
}

.title-center {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 100%;
}

.no-upper-case {
    text-transform: none;
}

@media (max-width: 992px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
}